<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= link_to 'Support', new_support_path %>
  <%= link_to 'Support Requests', supports_path %>
  <body>
    <%= yield %>
  </body>
</html>
